USE [master]
GO
/****** Object:  Database [hmdbs]    Script Date: 09/05/2022 11:50:28 PM ******/
CREATE DATABASE [hmdbs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hmdbs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hmdbs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hmdbs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hmdbs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hmdbs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hmdbs]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 09/05/2022 11:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[deptId] [int] NOT NULL,
	[deptname] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[deptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[doctorId] [int] NOT NULL,
	[doctorname] [varchar](50) NOT NULL,
	[deptname] [varchar](50) NOT NULL,
	[doctorfee] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[doctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitaldetalis]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitaldetalis](
	[pid] [int] NOT NULL,
	[deptId] [int] NOT NULL,
	[doctorid] [int] NOT NULL,
	[PtId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC,
	[deptId] ASC,
	[doctorid] ASC,
	[PtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[pid] [int] NOT NULL,
	[pname] [varchar](50) NOT NULL,
	[Appoinmentdate] [date] NULL,
	[category] [varchar](50) NOT NULL,
	[picture] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientType]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientType](
	[PtId] [int] NOT NULL,
	[Category] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](40) NOT NULL,
	[category] [nvarchar](40) NOT NULL,
	[unitPrice] [money] NULL,
	[available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[departments] ([deptId], [deptname]) VALUES (1, N'Medicine')
INSERT [dbo].[departments] ([deptId], [deptname]) VALUES (2, N'urine')
INSERT [dbo].[departments] ([deptId], [deptname]) VALUES (3, N'Cardiology ')
GO
INSERT [dbo].[doctors] ([doctorId], [doctorname], [deptname], [doctorfee]) VALUES (1, N'Dr.Arif khan', N'1', 850)
INSERT [dbo].[doctors] ([doctorId], [doctorname], [deptname], [doctorfee]) VALUES (2, N'Dr.Mahfuzur Rahman', N'2', 950)
INSERT [dbo].[doctors] ([doctorId], [doctorname], [deptname], [doctorfee]) VALUES (3, N'Dr.Hasibur Rahman', N'3', 1000)
GO
INSERT [dbo].[PatientType] ([PtId], [Category]) VALUES (1, N'Medicine problem')
INSERT [dbo].[PatientType] ([PtId], [Category]) VALUES (2, N'Urine problem')
INSERT [dbo].[PatientType] ([PtId], [Category]) VALUES (3, N'Cardiology problem')
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([productId], [productName], [category], [unitPrice], [available]) VALUES (1, N'HDD 500GB', N'Storage Device', 5700.0000, 1)
INSERT [dbo].[products] ([productId], [productName], [category], [unitPrice], [available]) VALUES (2, N'HDD 640GB', N'Storage Device', 6300.0000, 0)
INSERT [dbo].[products] ([productId], [productName], [category], [unitPrice], [available]) VALUES (3, N'SSD 120GB', N'Portable Device', 10500.0000, 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [available]
GO
ALTER TABLE [dbo].[Hospitaldetalis]  WITH CHECK ADD FOREIGN KEY([deptId])
REFERENCES [dbo].[departments] ([deptId])
GO
ALTER TABLE [dbo].[Hospitaldetalis]  WITH CHECK ADD FOREIGN KEY([doctorid])
REFERENCES [dbo].[doctors] ([doctorId])
GO
ALTER TABLE [dbo].[Hospitaldetalis]  WITH CHECK ADD FOREIGN KEY([PtId])
REFERENCES [dbo].[PatientType] ([PtId])
GO
ALTER TABLE [dbo].[Hospitaldetalis]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[patients] ([pid])
GO
/****** Object:  StoredProcedure [dbo].[spInsertWithCheckPrice]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--================================Applying Procedural intigrity==========================
--ex 08
CREATE PROC [dbo].[spInsertWithCheckPrice]
			@productName NVARCHAR(40),
			@category NVARCHAR(40),
			@price MONEY,
			@available BIT
AS
IF @price>0
	INSERT INTO products (productName,category,unitPrice,available) 
	VALUES(@productName,@category,@price,@available)
ELSE
	BEGIN
		RAISERROR('Price cannot be 0 or -ve',10,1)
		RETURN
	END
GO
/****** Object:  StoredProcedure [dbo].[spProductAll]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create Procedure
--ex 01
CREATE PROC [dbo].[spProductAll]
AS
SELECT productName,category,unitPrice,available FROM products
GO
/****** Object:  StoredProcedure [dbo].[spProductInsert]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ex 04
CREATE PROC [dbo].[spProductInsert] @productName NVARCHAR(40),
							@category NVARCHAR(40),
							@price MONEY,
							@available BIT
AS
INSERT INTO products(productName,category,unitPrice,available) 
VALUES(@productName,@category,@price,@available)
GO
/****** Object:  StoredProcedure [dbo].[spProductInsertWithDefaultValues]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--================Using Default Value of parameters=========================
--ex 06
CREATE PROC [dbo].[spProductInsertWithDefaultValues]
			@productName NVARCHAR(40),
			@category NVARCHAR(40)='Misc. Parts',
			@price MONEY=NULL,
			@available BIT=0
AS
INSERT INTO products(productName,category,unitPrice,available) 
VALUES(@productName,@category,@price,@available)
GO
/****** Object:  StoredProcedure [dbo].[spProductInsertWithOutParam]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spProductInsertWithOutParam]
			@productName NVARCHAR(40),
			@category NVARCHAR(40),
			@price MONEY,
			@available BIT,
			@id INT OUTPUT

AS
INSERT INTO products(productName,category,unitPrice,available) 
VALUES(@productName,@category,@price,@available)
SELECT @id=IDENT_CURRENT('products')
GO
/****** Object:  StoredProcedure [dbo].[spProductInsertWithReturn]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--====================Returning value from a store procedure====================
--ex 05
CREATE PROC [dbo].[spProductInsertWithReturn] @productName NVARCHAR(40),
									  @category NVARCHAR(40),
									  @price MONEY,
									  @available BIT
AS
DECLARE @productId INT
INSERT INTO products(productName,category,unitPrice,available) 
VALUES(@productName,@category,@price,@available)
SELECT @productId=IDENT_CURRENT('products')
RETURN @productId
GO
/****** Object:  StoredProcedure [dbo].[spProductsAvailable]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ex 02
CREATE PROC [dbo].[spProductsAvailable]
AS
SELECT productName,category,unitPrice,available FROM products WHERE available=1
GO
/****** Object:  StoredProcedure [dbo].[spProductsOfCategory]    Script Date: 09/05/2022 11:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--================Input parameters in store procedure===================
--ex 03
CREATE PROC [dbo].[spProductsOfCategory] @category NVARCHAR(40)
AS
SELECT productName,category,unitPrice,available FROM products 
WHERE category=@category
GO
USE [master]
GO
